/* Write your code here. */
.ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.bg {
  background-image: linear-gradient(to bottom, #9796f0, #fbc7d4);
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
